@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main-carousel {
  padding-bottom: 60px;


  .container {

    .carousel-items {
      position: relative;

      .carousel-arrows {
        cursor: pointer;

        .move-backward {
          position: absolute;
          top: calc(50% - 7px);
          left: 11px;
          z-index: 999;
        }

        .move-forward {
          position: absolute;
          top: calc(50% - 7px);
          right: 11px;
          z-index: 999;
        }
      }

      .carousel-item {
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 500px;
        box-sizing: border-box;

        .carousel-item-info {
          background-color: #B9D5FD;
          border-radius: 0% 100% 30% 70% / 100% 0% 100% 0%;
          width: 55%;
          height: 100%;

          .info-content {
            padding-left: 80px;
            padding-top: 86px;

            .info-pre-title {
              font-family: 'Montserrat', sans-serif;
              font-weight: 600;
              font-size: 12px;
              letter-spacing: 0.4em;
              text-transform: uppercase;
              color: $light-blue-text-color;
            }

            &.first {
              padding-top: 100px;
              width: 500px;
            }

            .info-title {
              font-family: 'Lora', sans-serif;
              font-weight: 400;
              font-size: 50px;
              line-height: 130%;
              color: #FFFFFF;

              span {
                color: $light-blue-text-color;
              }
            }

            .info-text {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: 24px;
              line-height: 130%;
              width: 456px;
              color: #FFFFFF;
              margin-top: 20px;
            }

            .info-action {
              margin-top: 50px;

              button.button {
                width: 163px;
                height: 51px;
              }
            }
          }
        }
      }
    }
  }
}

.services {
  padding: 60px 0;
  .container {
    .services-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .services-items {
      display: flex;
      justify-content: space-between;

      .services-item {
        width: 291px;

        .item-image {
          width: 291px;
          height: 291px;
          border-radius: 5px;
          background-size: cover;
          background-position: center;
          margin-bottom: 15px;
        }

        .item-title {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: $light-blue-text-color;
          margin-bottom: 10px;
        }

        .item-description {
          min-height: 90px;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text-color;
          margin-bottom: 15px;
        }

        .item-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .item-info-price {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $light-blue-text-color;

            span{
              font-size: 14px;
            }
          }

          .item-info-button {
            .button {
              width: 163px;
              height: 51px;
            }
          }
        }
      }
    }
  }
}

.about {
  padding: 60px 0;
  .container {
    display: flex;
    justify-content: space-between;

    .about-info {
      margin-left: 68px;

      .about-info-title{
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .about-info-description {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #1E1A2B;
        margin-bottom: 40px;

        .bold {
          font-weight: bold;
        }
      }

      .about-info-advantages {

        .advantages-title{
          @include head-lora-38;
          font-size: 26px;
          margin-bottom: 20px;
        }

        .advantages-items{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          column-gap: 70px;
          row-gap: 50px;

          .advantages-item{
            width: 316px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .advantages-item-number{
              border-radius: 50%;
              background-color: #B9D5FD;
              width: 40px;
              height: 40px;
              font-family: 'Lora', sans-serif;
              font-weight: 500;
              font-size: 50px;
              text-align: center;
              line-height: 0.45;
              color: $light-blue-text-color;
            }

            .advantages-item-text {
              width: 256px;
              font-family: 'Montserrat', sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
              color: #1E1A2B;

              .bold {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.popular-articles{
  padding: 60px 0;
  .container {

    .popular-articles-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .popular-articles-cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .popular-articles-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        cursor: pointer;
        color: $light-blue-text-color;

        svg {
          position: relative;
          top: 2px;
          margin-left: 14px;
        }
      }
    }
  }
}

.reviews {
  padding: 60px 0;
  .container {

    .reviews-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .reviews-carousel-items {
      position: relative;

      .review-carousel-arrows {
        cursor: pointer;

        .move-backward {
          position: absolute;
          top: calc(50% - 7px);
          left: -27px;
          z-index: 999;
        }

        .move-forward {
          position: absolute;
          top: calc(50% - 7px);
          right: -27px;
          z-index: 999;
        }
      }

      .reviews-carousel-item{
        padding: 30px;
        border: 2px solid #709FDC;
        border-radius: 5px;
        min-height: 275px;
        box-sizing: border-box;

        .review-user-info {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .review-user-info-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-user-info-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $light-blue-text-color;
          }
        }

        .review-text {
          font-size: 16px;
          line-height: 140%;
          color: $dark-blue-text-color;
        }
      }
    }
  }
}

.contacts {
  padding-top: 60px;
  padding-bottom: 120px;

  .container {
    display: flex;

    .contacts-map {
      .mapouter {
        position: relative;
        text-align: right;
        width: 607px;
        height: 438px;
      }

      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 607px;
        height: 438px;
      }

      .gmap_iframe {
        width: 607px !important;
        height: 438px !important;
      }
    }

    .contacts-info {
      margin-left: 26px;

      .contacts-info-title {
        @include head-lora-38;
      }

      .contact-info-item {
        margin-top: 20px;

        .item-name {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: $light-blue-text-color;
          margin-bottom: 10px;
        }

        .item-description {
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text-color;
        }

        .item-social {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
