@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.blog {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {

    .blog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-head {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .blog-applied-filters {
        max-width: 1071px;
        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          border:2px solid $light-blue-text-color;
          border-radius: 5px;
          font-size: 16px;
          color: $light-blue-text-color;
          padding: 8px 20px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .blog-filters {
        width: 257px;
        min-width: 257px;
        box-sizing: border-box;
        position: relative;


        .blog-filters-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px 0 12px 130px;
          font-size: 16px;
          color: $dark-blue-text-color;
          cursor: pointer;

          span {
            margin-right: 8px;
          }
        }

        .blog-filters-body {
          position: absolute;
          width: 100%;
          z-index: 10;
          display: none;
          background: #FFFFFF;
          border: 1.5px solid #B9D5FD;
          border-radius: 0 0 5px 5px;
          font-size: 16px;
          color: #BEBEBE;
          box-sizing: border-box;
          padding: 17px 23px;

          .blog-filters-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
            cursor: pointer;


            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: $dark-blue-text-color;
            }

          }
        }

        &.open {

          .blog-filters-head {
            background: #B9D5FD;
            border-radius: 5px 5px 0 0;
            padding-left: 23px;
            padding-right: 20px;

            svg {
              transform: rotate(180deg);
            }
          }

          .blog-filters-body {
            display: block;
          }
        }
      }
    }

    .blog-layout {
      margin-top: 20px;

      .blog-articles {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        column-gap: 25px;
        row-gap: 40px;
        margin-bottom: 40px;
      }

      .pagination {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        .pagination-arrow {

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
          }

          &.disabled a{
            cursor: not-allowed;
            opacity: 0.5;
          }
        }

        .pagination-pages {
          margin: 0 50px;
          display: flex;
          align-items: center;

          a.pagination-page {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            width: 28px;
            height: 46px;
            margin-right: 20px;
            font-size: 20px;
            color: $dark-blue-text-color;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              color: #B9D5FD;
            }
          }
        }
      }
    }
  }
}
