.policy {
  padding: 60px 0 120px 0;

  .container {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 5px;

      :last-child {
        margin-bottom: 0;
      }
      }
    }
  }
}
