<section class="policy">
  <div class="container">
    <p> A User Agreement on a website (or in an application) regulates the legal relationships between the website/application
      owner, users, and third parties. It outlines the responsibilities of the provider of goods and services and is
      therefore a legal document. The content of the user agreement must comply with the current norms of substantive law.</p>
    <p>By visiting our Websites and/or using our Products, you agree to the terms of this Privacy Policy. If you do not agree
      to the terms of this Privacy Policy, please do not visit and/or use our Websites and Products.</p>

    <h3 id="consentToProcessing">What information we collect about you</h3>
    <p>Personal information is information that identifies a natural person or is related to an identified natural person. We
      collect personal and other types of information: a) when you provide it to us, b) when you visit our Websites, c) when
      third parties provide it to us.</p>

    <h3>Information we collect automatically</h3>
    <p>We automatically collect information when you navigate our Websites or view our advertisements. The collected
      information includes a unique device identifier, IP address or MAC address, data about your location, traffic, actions
      on the Websites, and similar information. We also use cookies and other tracking technologies.</p>

    <h3>User Agreement Terms</h3>
    <p>You hereby acknowledge that you have read, understood, and fully agree to comply with this Agreement and the Privacy
      Policy of ITSTORM.</p>
    <p>You hereby confirm that from the moment of registration on the Site and during the use of ITSTORM's Services,
      as well as personalized services of the Site, you are a User of ITSTORM until your personal contact with
      ITSTORM's Customer Support regarding the refusal of any relationships with ITSTORM.</p>

    <h3>Consent to the processing of personal data</h3>
    <p>We automatically collect information when you navigate our Websites or view our advertisements. The collected
      information includes a unique device identifier, IP address or MAC address, data about your location, traffic, actions
      on the Websites, and similar information. We also use cookies and other tracking technologies.</p>

    <h3 id="termsOfService">PART I. About the Relationships between ITSTORM and the User</h3>

    <ul>
      <h4>General Provisions</h4>
      <li>1.1. ITSTORM offers you its Services and Site services on the terms outlined in this Agreement.</li>
      <li>1.2. The use of Site services, as well as all relations between you and [Company Name] related to the use of Site
        services, are governed by this Agreement.</li>
      <li>1.3. By using any of the Site's services or using any of its functional features, you express your unconditional
        agreement with all the terms of this Agreement and all other terms outlined on the Site's pages, agree to comply with
        them, and in case of disagreement with any of the terms, immediately cease using the services and leave the Site.</li>
      <li>1.4. You are informed that this Agreement applies to all existing Site services at the moment, as well as to any of
        their development and/or the addition of new services.</li>
      <li>1.5. You acknowledge and agree that nothing in the Agreement can be construed as establishing agency relations,
        partnership relations, personal employment relations, or any other relations between you and ITSTORM, not
        directly provided for by this Agreement.</li>
      <li>1.6. This Agreement is governed by the civil legislation of the Russian Federation, including the Law of the Russian
        Federation "On Protection of Consumer Rights" dated 07.02.1992 No. 2300-1, and bylaws.</li>
      <li>1.7. You agree that all possible disputes regarding this Agreement and the relations between you and ITSTORM
        will be resolved according to the norms of Russian law.</li>
      <li>1.8. You agree that the recognition by a court of any provision of the Agreement as invalid or unenforceable does not
        entail the invalidity or unenforceability of other provisions of the Agreement.</li>
      <li>1.9. The inaction of [Company Name] in case of your violation of the provisions of the Agreement does not deprive
        [Company Name] of the right to take appropriate actions to protect its interests later, and also does not mean the
        waiver of [Company Name]'s rights in case of committing similar or similar violations in the future.</li>
      <li>1.10. [Company Name] reserves the right to change this Agreement without any special notice. The new version of the
        Agreement comes into effect from the moment of its posting, unless otherwise provided by the new version of the
        Agreement.</li>
      <li>1.11. You confirm your agreement with the provisions of this Agreement by pressing the "Accept User Agreement" button
        during Registration, including on the last step of placing an Order on the Site.</li>
      <li>1.12. ITSTORM recommends that individuals under 18 years of age refrain from accessing personalized Site
        services. ITSTORM does not intentionally collect information received from minors, including their personal
        data, does not use and does not orient the content of the Site towards minors. The responsibility for the actions of
        minors, including their purchase of Goods from ITSTORM's catalog on the Site, lies with the legal
        representatives of minors.</li>
    </ul>
  </div>
</section>
