@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


.button{
  text-align: center;
  padding: 15px;
  background: $light-blue-text-color;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &.button-small {
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
  }
}

.input{
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $light-blue-text-color;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $dark-blue-text-color;

  &::placeholder{
    color: #A8ABA7;
  }
}

.mat-mdc-menu-content{
  .mat-mdc-menu-item {
    .mdc-list-item__primary-text{
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: $dark-blue-text-color;
    }
  }
}
